<Style>
    h1 {
        color: white;
        text-align: center;
        background-color: black;
        font-size: 100px;
    }

    h2 {
        color: white;
        text-align: center;
        background-color: black;
        font-size: 75px;
        margin-top: -25px;
    }

    h3 {
        color: white;
        text-align: center;
        background-color: black;
        font-size: 25px;
    }

    h4 {
        color: white;
        text-align: center;
        background-color: black;
        margin-bottom: 10px;
    }

    body {
        color: white;
        text-align: center;
        background-color: black;
    }

    #auth {
        background-color: white;
        color: black;
    }

    #logIn {
        color: white;
        background-color: indigo;
    }

    #country {
        color: white;
        background-color: indigo;
    }

    #firstFooter {
        background-color: #301934;
    }

    #Subjugate {
        color: white;
    }
</Style>

<body>
    <h1>Subjugate</h1>
    <br>
    <h2>=][=</h2>
    <br>
    <h3>The Future of Strategy Games</h3>
    <h4>By Blind Games Studio</h4>
    <div id="auth">
        <br>
        <form action="/auth/login" method="POST">
            <label for="auth-email">Email</label>
            <input id="auth-email" type="email" name="email" required>

            <label for="auth-password">Password</label>
            <input id="auth-password" type="password" name="password" required>

            <input type="submit" id="logIn" value="Log In">

        </form>
        <br>
        <button type="button" id="country">Search Server Location (By Country)</button> <span id="countryText"></span>
        <br><br><br><br><br><br><br><br><br><br><br>
    </div>
</body>

<!-- Footer -->
<footer class="footer" id="firstFooter">
    <div class="container">
        <div class="content has-text-centered">
            <div class="soc">
                <a href="#"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
            </div>
            <p>
                <strong id="Subjugate">Subjugate</strong> by <a href="/">Blind Games Studio</a>.
            </p>
        </div>
    </div>
</footer>

<script>
    document.getElementById("country").addEventListener("click", function () {
        fetch("https://api.country.is/")
            .then(function (response) {
                return response.json();
            })
            .then(function (country) {
                document.getElementById("countryText").innerText = "Server Location: " + country.country;
            })
    });
</script>