<style>
    #fourOhFour {
        text-align: center;
        color: black;
        font-size: 100px;
    }

    #message {
        text-align: center;
        color: grey;
        font-size: 25px;
    }
</style>

<body>
    <h1 id="fourOhFour">404</h1>
    <p id="message">
        <%= message %>
    </p>
</body>