<style>
    h1 {
        color: white;
        text-align: center;
        background-color: black;
        font-size: 100px;
    }

    h2 {
        color: white;
        text-align: center;
        background-color: black;
        font-size: 75px;
        margin-top: -25px;
    }

    h3 {
        color: white;
        text-align: center;
        background-color: black;
        font-size: 25px;
    }

    h4 {
        color: white;
        text-align: center;
        background-color: black;
        margin-bottom: 10px;
    }

    body {
        color: white;
        text-align: center;
        background-color: black;
    }

    #pleaseSignUp {
        background-color: #301934;
    }

    #viewFactions {
        background-color: #301934;
        font-size: 100px;
    }

    #firstFooter {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: #301934;
        color: white;
    }

    #Subjugate {
        color: white;
    }
</style>

<body>
    <% if (!currentUser) { %>
        <h1>Subjugate</h1>
        <br />
        <h2>=][=</h2>
        <br />
        <h3>The Future of Strategy Games</h3>
        <br />
        <h4>By Blind Games Studio</h4>
        <br />
        <footer class="footer">
            <br />
            <h1 id="pleaseSignUp">Please Signup or Login</h1>
        </footer>
        <% } %>

            <% if (currentUser) { %>
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            <a class="navbar-item" href="/">
                                <p><strong>Blind Games Studio</strong></p>
                            </a>
                        </div>
                        <div id="navbarMenu" class="navbar-menu">
                            <div class="navbar-end">
                                <a class="navbar-item" href="/">
                                    Home
                                </a>
                                <a class="navbar-item" href="/profile">
                                    Profile
                                </a>
                                <a class="navbar-item" href="/auth/logout">
                                    Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
                <h1>Subjugate</h1>
                <br />
                <h2>=][=</h2>
                <br />
                <h3>The Future of Strategy Games</h3>
                <br />
                <h4>By Blind Games Studio</h4>
                <br /><br />
                <footer class="footer">
                    <h1 id="viewFactions"><a href="/factions">View All Factions</a></h1>
                </footer>
                <% } %>
</body>

<!-- Footer -->
<footer class="footer" id="firstFooter">
    <div class="container">
        <div class="content has-text-centered">
            <div class="soc">
                <a href="#"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
            </div>
            <p>
                <strong id="Subjugate">Subjugate</strong> by <a href="/">Blind Games Studio</a>.
            </p>
        </div>
    </div>
</footer>