<style>
    h1 {
        color: white;
        text-align: center;
        background-color: black;
        font-size: 100px;
    }

    h2 {
        color: white;
        text-align: center;
        background-color: black;
        font-size: 75px;
        margin-top: -25px;
    }

    h3 {
        color: white;
        text-align: center;
        background-color: black;
        font-size: 25px;
    }

    h4 {
        color: white;
        text-align: center;
        background-color: black;
        margin-bottom: 10px;
    }

    body {
        color: white;
        text-align: center;
        background-color: black;
    }

    #viewFactions {
        font-size: 30px;
    }
</style>

<body>
    <% if (!currentUser) { %>
        <h1>Please Signup or Login</h1>
        <% } %>

            <% if (currentUser) { %>
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            <a class="navbar-item" href="/">
                                <p><strong>Subjugate</strong></p>
                            </a>
                        </div>
                        <div id="navbarMenu" class="navbar-menu">
                            <div class="navbar-end">
                                <a class="navbar-item" href="/">
                                    Home
                                </a>
                                <a class="navbar-item" href="/profile">
                                    Profile
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
                <h1>Subjugate</h1>
                <h2>=][=</h2>
                <h3>The Future of Strategy Games</h3>
                <h4>By Blind Games Studio</h4>
                <a href="/factions" id="viewFactions">View All Factions</a><br>
                <% } %>
</body>