<style>
    h1 {
        color: white;
        text-align: center;
        background-color: black;
        font-size: 150px;
    }
</style>

<body>
    <h1>Please Signup or Login</h1>

    <% if (currentUser) { %>
        <a href="/factions">View All Factions </a><br>
        <% } %>
</body>