<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faction Buildings</title>
</head>
<body>
    <% if (currentUser) { %>
        <% for( let index = 0; index < factionBuildings.length; index++ ) { %>
        <% let a = factionBuildings[index]; %> 
        <% a = a.toJSON() %>
        <p style="margin-bottom:0;"><%= a.base %></p>
        <a href="/baseBuildings">View Base Buildings</a><br><br>
        <p style="margin-bottom:0;"><%= a.production %></p>
        <a href="/productionBuildings">View Production Buildings</a><br><br>
        <p style="margin-bottom:0;"><%= a.defensive %></p>
        <a href="/defensiveBuildings">View Defensive Buildings</a><br><br>
        <% } %>
    <% } %>
</body>