<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faction Traits</title>
</head>
<body>
    <% if (currentUser) { %>
        <% for( let index = 0; index < factionTraits.length; index++ ) { %>
        <% let a = factionTraits[index]; %> 
        <% a = a.toJSON() %>
        <p style="margin-bottom:0;"><%= a.units %></p>
        <a href="/factionUnits">See All</a><br><br>
        <p style="margin-bottom:0;"><%= a.buildings %></p>
        <a href="/factionBuildings">See All</a><br><br>
        <p style="margin-bottom:0;"><%= a.supportPowers %></p>
        <a href="/factionPowers">See All</a><br><br>
        <% } %>
    <% } %>
</body>