<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factions</title>
</head>
<body>
    <% if (currentUser) { %>
        <% for( let index = 0; index < factions.length; index++ ) { %>
        <% let a = factions[index]; %> 
        <% a = a.toJSON() %>
        <p style="margin-bottom:0;"><%= a.firstFaction %></p>
        <a href="/factionTraits">View Legions of Tyranny</a><br><br>
        <p style="margin-bottom:0;"><%= a.secondFaction %></p> 
        <p>Coming Soon</p>
        <p style="margin-bottom:0;"><%= a.thirdFaction %></p> 
        <p>Coming Soon</p>
        <% } %>
    <% } %>
</body>